.header {
  background-color: white;
  padding: 15px 0;
}

.form {
  display: flex;
  justify-content: center;
}

.inputContainer {
  position: relative;
}

.button {
  position: absolute;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input {
  min-width: 300px;
  padding: 10px 10px 10px 50px;
  border-radius: 4px;
  border: 2px solid black;
}

.icon {
  width: 45px;
  height: 35px;
  fill: gray;
}

.input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px blue;
}

.input:focus + .button {
  background-color: black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input:focus + .button .icon {
  fill: white;
}
